body {
    background: #678e75;
}

.text-1 {
    /* шрифт */
    font-family: "Open Sans", "Arial", sans-serif;
    /* размер */
    font-size: 20px;
    /* жирность */
    font-weight: 300;
    /* курсив */
    font-style: italic;
    /* высота строки */
    line-height: 30px;
}

.text-2 {
    /* шрифт */
    font-family: "Montserrat", "Arial", sans-serif;
    /* размер шрифта */
    font-size: 20px;
    /* растояние между строками */
    line-height: 15px;
    /* перечеркнутый текст */
    text-decoration: line-through;
}

.text-3 {
    font-family: "Rubik Mono One", "Helvetica", monospace;
    font-weight: 400;
    font-style: normal;
    /* расстояние между букв */
    letter-spacing: 8px;
}

.text-4 {
    font-family: "Momo Signature", "Verdana", cursive;
    font-weight: 400;
    font-style: italic;
    /* тень */
    text-shadow: 3px 2px 2px #000;
    text-align: right;
}

.text-5 {
    font-family: "Badeen Display", Impact, system-ui;
    font-weight: 400;
    font-style: normal;
    color: #d44e4e;
    text-shadow: 0px 0px 10px #f2ff04;
    /* отступ между словами */
    word-spacing: 20px;
    text-align: center;
}

.text-6 {
    font-family: "Pacifico", "Verdana", cursive;

    font-weight: 400;
    font-style: normal;
    text-align: justify;
    /* нижний регистр букв */
    text-transform: lowercase;
}

.text-7 {
    font-family: "Bitcount Grid Double Ink", system-ui;
    font-optical-sizing: auto;
    font-variation-settings:
        "slnt"0,
        "CRSV"0.5,
        "ELSH"0,
        "ELXP"0,
        "SZP1"0,
        "SZP2"0,
        "XPN1"0,
        "XPN2"0,
        "YPN1"0,
        "YPN2"0;
    text-shadow: 0px 0px 2px #000;
}

.text-8 {
    font-family: "Ruslan Display", "Impact", sans-serif;
    font-weight: 400;
    font-style: normal;


    /* убрал перенос текста на новую строку */
    white-space: nowrap;
    /* text-decoration: dashed; */
    text-decoration: dotted;
}