body {
    background: #333;
    color: #fff;
    font-family: sans-serif;
    height: 800px;
}

.body--fixed {
    overflow-y: hidden;
}

.section {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
    gap: 15px;
    flex-direction: column;
}

.section__button {
    background: #abff1b;
    border: 1px solid #000;
    border-radius: 5px;
    padding: 5px;
    color: #000;
}

.modal {
    position: fixed;
    inset: 0;
    background-color: #00000074;
    display: flex;
    cursor: pointer;
    padding: 30px;
    display: none;
}

.modal--active {
    display: flex;
}

.modal__main {
    position: relative;
    max-width: 600px;
    background-color: azure;
    margin: auto;
    color: #000;
    border-radius: 15px;
    padding: 30px;
    cursor: default;
}
.modal__title {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 15px;
}

.modal__close {
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 22px;
    position: absolute;
    top: 10px;
    right: 15px;
    border: 1px solid #000;
    border-radius: 5px;
    padding: 5px;
}

.modal__container {

}