body {
    background: #333;
    color: #fff;
}

.container {
    max-width: 900px;
    width: 100%;
    margin: 0 auto;
}

h1 {
    font-size: 5em;
    text-align: center;
    padding: 0.7em 0 1em 0;
    position: relative;
}

h1::before {
    content: '';
    position: absolute;
    width: 1em;
    height: 1em;
    background: #ff7070;
    border: 3px solid #fff;
    border-radius: 50%;
    transform: translate(-1.5em);
}

h1::after {
    content: '';
    position: absolute;
    width: 1em;
    height: 1em;
    background: #7079ff;
    border: 3px solid #fff;
    border-radius: 50%;
    transform: translate(0.5em);
}