body {
    background: #333;
}

.title {
    color: #fff;
    font-size: 5vw;
    text-align: center;
    transform: translateY(2vw);
    position: relative;
}

.title::before {
    content: '';
    width: 100px;
    height: 100px;
    background: #eb4848;
    border-radius: 50%;
    border: 2px solid #ffffff;
    position: absolute;
    transform: translate(-400px, 0px);
}

.title::after {
    content: '';
    width: 100px;
    height: 100px;
    background: #4866eb;
    border-radius: 50%;
    border: 2px solid #ffffff;
    position: absolute;
    transform: translate(300px, -95px);
}