@import "fonts.css";
@import "reset.css";
@import "global.css";

/* ------------------------------ */

.header__top {
    padding-top: 48px;
}

.header__top-inner {
    display: flex;
    justify-content: space-between;

}

.nav {}

.nav__list {
    display: flex;

}

.nav__item {
    position: relative;
    line-height: 16px;
    text-transform: uppercase;
}

.nav__item:first-child {
    margin-right: 23px;
}

.nav__item:nth-child(2) {
    margin-right: 37px;
}

.nav__item:nth-child(3) {
    margin-right: 32px;
}



.nav__link {
    display: block;
    position: relative;
}

.nav__link:first-child::before {
    content: '';
    top: -42px;
    position: absolute;
    background: var(--accent-color);
    width: 98px;
    height: 8px;
    opacity: 0;
    visibility: hidden;

    transition: var(--transition);
}

.nav__link:hover:first-child::before {
    opacity: 1;
    visibility: visible;
}

.nav__link:nth-child(2)::before,
.nav__link:last-child::before {
    content: '';
    top: -42px;
    position: absolute;
    background: var(--accent-color);
    width: 35px;
    height: 8px;
    opacity: 0;
    visibility: hidden;

    transition: var(--transition);
}

.nav__link:hover:nth-child(2)::before,
.nav__link:hover:last-child::before {
    opacity: 1;
    visibility: visible;
}


.header__logo {
    /* width: 100%; */
}

.nav__account {}

.nav__account-list {
    display: flex;
    gap: 40px;

}

.nav__account-item {}

.nav__account-link {
    width: 24px;
    height: 24px;
    display: block;
}

.nav__account-link path {
    width: 100%;
}