@import "fonts.css";
@import "reset.css";
@import "global.css";

/* ------------------------------ */

.header__top {
    padding: 48px 0 33.94px;
    max-height: 105px;
}

.header__top-inner {
    display: flex;
    padding-left: 113px;
    align-items: center;
}

.nav {}

.nav__list {
    display: flex;

}

.nav__item {
    position: relative;
    line-height: 16px;
    text-transform: uppercase;
}

.nav__item:first-child {
    margin-right: 23px;
}

.nav__item:nth-child(2) {
    margin-right: 37px;
}

.nav__item:nth-child(3) {
    margin-right: 32px;
}

.nav__link {
    display: block;
    position: relative;
}

.nav__link:after {
    background: none repeat scroll 0 0 transparent;
    top: -42px;
    content: "";
    height: 8px;
    left: 50%;
    position: absolute;
    background: var(--accent-color);
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
}

.nav__link:hover:after {
    width: 100%;
    left: 0;
}

.header__logo {
    margin: 0 488px 0 230px;
    max-width: 80px;
    display: flex;
}

.header__logo img {
    width: 100%;
}

.nav__account {}

.nav__account-list {
    display: flex;
    gap: 40px;
}

.nav__account-item {}

.nav__account-link {
    width: 24px;
    display: flex;
    align-items: start;
}

.nav__account-link path {
    width: 100%;
}

.nav__account-link path {
    transition: var(--transition);
}

.nav__account-link:hover path {
    fill: var(--accent-color);
}



/* ----------------------------- */

.header__bottom-inner {
    background: url(../img/line-bg.png) 50% 0 no-repeat;
    background-size: 105%;
    display: flex;
    gap: 90.93px;
    padding: 211px 0 173px;
}



.header__bottom-product {
    margin-left: 193px;
    max-width: 560px;
    max-height: 308.11px;
    transform: rotate(-15.54deg);
    position: relative;
}

.header__bottom-product img {
    width: 100%;
}

.header__bottom-product::before {
    position: absolute;
    /* background: url(../img/add.svg); */
    content: '';
    color: #1b3559;
    width: 56px;
    height: 56px;
    top: 93px;
    left: 198px;
    background: var(--general-text);
    padding: 20px;
    border-radius: 50%;
    box-shadow: 0px 0px 4px #1b3559;
    transform: rotate(15deg);
}

.header__bottom-product::after {
    position: absolute;
    /* background: url(../img/add.svg); */
    content: '';
    width: 56px;
    height: 56px;
    bottom: -13px;
    right: 26px;
    background: var(--general-text);
    padding: 20px;
    border-radius: 50%;
    box-shadow: 0px 0px 4px #1b3559;
    transform: rotate(15deg);
}



.header__bottom-info {
    max-width: 492px;
}

.header__bottom-title {
    font-family: "Futura Md BT";
    font-size: 48px;
    font-weight: 700;
    letter-spacing: 0.14em;
    font-style: italic;
    margin-bottom: 32px;
}

.header__bottom-flex {
    display: flex;
    gap: 36px;
    margin-bottom: 32px;
}

.header__bottom-price {
    font-family: "Futura Hv BT";
    font-weight: 900;
    font-size: 36px;
    margin-right: 117px;
}

.header__bottom-size {
    display: flex;
    align-items: center;
    gap: 19px;
}

.header__bottom-bag {
    display: flex;
    align-items: anchor-center;
}

/* .header__bottom-size span {
    display: block;
    font-weight: 900;
    font-size: 36px;
} */
.header__bottom-button {
    font-size: 12px;
}

.header__bottom-select {}

/* ====================== */

.format {
    background: var(--general-bg);
    flex: 1;
    color: var(--general-text);
    cursor: pointer;
    font-size: 36px;
    font-family: "Futura Hv BT";
}

.select {
    position: relative;
    display: flex;
    width: 70px;
    line-height: 3;
    overflow: hidden;
    border-radius: .25em;
}

.select::after {
    content: '\25BC';
    position: absolute;
    top: 0;
    right: 0;
    background: var(--general-bg);
    cursor: pointer;
    pointer-events: none;
    transition: var(--transition);
}

.select:hover::after {
    color: var(--accent-color);
}

.header__models {}

.header__models-grid {
    display: grid;
    gap: 40px;
    grid-template-columns: repeat(4, .5fr);
    /* grid-template-rows: repeat(2, auto); */
    /* justify-items: start */
}

.header__models-slide {}

.header__models-shoes {
    display: grid;
    max-width: 320px;
    min-height: 195px;
    border: 2px solid var(--general-text);
    position: relative;
}

.header__models-img {
    position: absolute;
    /* max-width: 229px;
    max-height: 134.28px; */
    display: flex;
    margin: auto auto;

}

.one {
    top: -41px;
    left: 15.25px;
}

.two {
    top: -9px;
    left: 15.25px;
}

.three {
    top: -25px;
    left: 15.25px;
}


.header__models-img img {
    width: 100%;

}

.header__models-text {
    display: block;
    min-width: 150px;
    font-family: "Futura LtCn BT";
    font-weight: 400;
    font-size: 24px;
    text-transform: uppercase;
    padding: 134px 148px 61px 32px;
    white-space: nowrap
}


.header__labels {
    width: 100%;
    clip-path: inset(0 0 10% 0);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -60px;
}

.header__labels img {
    /* width: 100%; */
}



/* ====================== */





.header__bottom-bag {}






/* ---------------------------- */






.handcraft__inner {
    margin-top: 170.32px;
    position: relative;
    text-align: center;
}

.handcraft__title {
    font-family: "Futura Md BT";
    font-size: 64px;
    font-weight: 500;
    line-height: 156%;
    text-align: center;
    position: relative;
    /* display: inline-block; */

}

.handcraft__title-pic {
    position: absolute;
    top: 25px;
    margin-left: 25px;
}

.handcraft__title span {
    background: linear-gradient(11deg,
            #ffffff 63%,
            #ba0000 64%);
    background-clip: text;
    color: transparent;
}

.handcraft__title-piclast {
    position: absolute;
    bottom: 20px;
    margin-left: 40px;
}

.handcraft__text {
    padding: 80px 0 80px;
    line-height: 300%;
    text-align: center;
}

.handcraft__button {
    font-size: 16px;
    height: 42px;
    padding: 3px 24.5px;
    gap: 3.73px;
}

.button {}

.handcraft__img {
    max-width: 746px;
    transform: rotate(32.64deg);
    position: absolute;
    bottom: -216px;
    left: -355px;
}

.handcraft__img img {
    width: 100%;
}

/* ------------------------- */

.sellers {
    padding-top: 231px;
}

.sellers__title {
    font-family: "Futura Md BT";
    font-size: 64px;
    font-weight: 500;
    text-align: center;

}

.sellers__title span {
    background: linear-gradient(19deg,
            #ffffff 45%,
            #ba0000 46%);
    background-clip: text;
    color: transparent;
}

.buyers {
    padding: 107px 0 172px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;

}

.buyers__card img {
    width: 100%;
    /* display: block; */
    transition: var(--transition);
}

.buyers__card:hover img {
    /* border-radius: 1%; */
    /* border: 1px solid var(--accent-color); */
    box-shadow: 0px -14px 25px 10px var(--accent-color);
}

/* ---------------------------------- */

.gallery__inner {
    text-align: center;
}

.gallery__title {
    font-family: "Futura XBlkCnIt BT";
    transform: rotate(-10.67deg);
    font-style: italic;
    font-size: 96px;
    position: relative;
    /* overflow: hidden; */
    display: inline-block;
    color: transparent;
    background: url(../img/sports-time/sports-title-img.png);
    background-position: 55% 49%;
    background-repeat: no-repeat;
    background-clip: text;
    background-size: 197%;
    background-repeat: no-repeat;
    position: relative;
    z-index: 20;
}

.gallery__title-last {
    position: absolute;
    top: 60px;
    right: -107px;
    z-index: -100;
    -webkit-text-stroke: 1px var(--general-text);
}



.gallery__grid {
    padding-top: 277px;
    display: grid;
    gap: 50px 0px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    /* justify-items: center; */
    align-items: end;
    justify-content: center;
}

.gallery__product {
    /* position: relative; */
}



.gallery__product-desc {}

.gallery__product-pic {
    max-width: 400px;
    /* position: absolute; */
    bottom: 54px;
    left: 43px;
}

.gallery__product:nth-child(3) {
    grid-column: 2 / 3;
}

.gallery__product-pic img {
    width: 100%;
}

.gallery__product-title {
    font-family: "Futura LtCn BT";
    font-size: 24px;
    text-align: center;
    margin-top: 16.17px;
}

.gallery__button {
    margin-top: 120px;
}

/* --------------------- */

.modern__inner {
    margin: 238px 0;
    display: flex;
    gap: 132px;
}

.modern__bg {
    /* position: relative; */
    width: 300px;
    height: 300px;
    border-radius: 2%;
    backdrop-filter: blur(4px);

    background: var(--accent-color);
    mix-blend-mode: difference;


    /* border-radius: 10px;
    backdrop-filter: blur(4px);
    background: rgba(255, 255, 255, 0.6); */


    border-radius: 10px;
    filter: blur(250px);
    background: conic-gradient(from 8.67deg at 47% 52%, var(--accent-color) 0deg, var(--accent-color) 0deg, var(--accent-color) 360deg, var(--accent-color) 360deg);
}

.modern__pic {
    position: relative;
    border-radius: 10px;
    background: var(--accent-color);
}

.modern__pic img {
    position: absolute;
    top: 25%;
    left: -5%;
    transform: rotate(9.69deg);
    width: 120%;
}

.modern__info {
    max-width: 676px;
    display: flex;
    flex-direction: column;
}

.modern__title {
    font-family: "Futura Md BT";
    font-weight: 500;
    font-size: 64px;
    margin-bottom: 24px;
}

.modern__text {
    font-size: 24px;
    margin-bottom: 40px;
}

.modern__button {
    max-width: 157px;
    font-size: 16px;
    text-align: left;
    gap: 6px;
}

/* ----------------------------------------- */


.favorite__inner {
    /* display: flex; */
}

.favorite__title {
    /* font-family: "Futura XBlkCnIt BT"; */
    text-align: left;
    font-style: normal;
    font-weight: 500;
    font-size: 64px;
    text-transform: uppercase;
    margin-bottom: 144px;
}

.favorite__title span {
    color: var(--accent-color);
    position: relative;
}

.favorite__title span:first-child::after {
    position: absolute;
    content: '';
    bottom: -25px;
    right: -16px;
    width: 140px;
    height: 32px;
    background: radial-gradient(50% 50% at 50% 50%, #ffffff50 0%, rgba(255, 255, 255, 0) 100%);
}

.favorite__shoes {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: 100px;

}

.favorite__shoes-block {
    position: relative;
    margin-bottom: 271px;
}

.favorite__shoes-block::before {
    position: absolute;
    content: '';
    width: 300px;
    height: 300px;
    border-radius: 100%;
    filter: blur(110px);
    background: conic-gradient(from 90deg, rgb(255, 0, 0) 0deg, rgb(255, 0, 0, 0) 360deg);
    top: 52%;
    left: 40%;
    transform: translate(-50%, -50%);
    z-index: -1;
}

.shoes-block__title {
    font-family: "Futura XBlkCnIt BT";
    font-size: 20px;
    line-height: 80%;
    text-align: right;
    /* color: var(--general-text); */
}

.shoes-block__price {
    display: block;
    font-family: "Futura XBlkCnIt BT";
    color: var(--accent-color);
    font-style: italic;
    font-size: 20px;
    line-height: 80%;
    text-align: right;
    margin-top: 22px;
}

.shoes-block__pic {
    position: relative;
    right: 60px;
    top: -50px;
}

.shoes-block__pic-first {
    position: relative;
    right: 45px;
}

.favorite__line {
    margin-bottom: 403px;
}

/* ----------------------------- */

.best__inner {
    display: flex;
    gap: 61px;
    align-items: center;
}

.best__info {}

.best__title {
    font-family: "Futura Md BT";
    font-weight: 500;
    font-size: 64px;
    max-width: 514px;
    margin-bottom: 32px;
}

.best__text {
    font-size: 24px;
    margin-bottom: 40px;
    max-width: 618px;
}

.best__button {}

.button {}

.best__gallery {
    display: grid;
    gap: 26px 40px;
    grid-template-columns: .5fr 1.35fr;
    grid-template-rows: .5fr .5fr;
}

.best__gallery-item img {
    border-radius: 10px;
}
.best__gallery-item:first-child {
    grid-column: 1 / 2;
    grid-row: 1 / 3;
}

.best__gallery-item:nth-child(2) {
    grid-column: 2 / 4;
}

.best__gallery-item:last-child {
    /* grid-column: 2 / 4; */
    /* grid-row: 2 / 3; */
    padding-left: 60px;
}

/* ======================== */

/* @media (max-height: 300px) {
	.nav__list {
		margin-top: 40px;
	}
} */