@import "fonts.css";
@import "reset.css";
@import "global.css";

/* ------------------------------ */

.header__top {
    padding-top: 48px;
    max-height: 105px;
}

.header__top-inner {
    display: flex;
    padding-left: 113px;
    /* justify-content: space-between; */
    align-items: center;
}

.nav {}

.nav__list {
    display: flex;

}

.nav__item {
    position: relative;
    line-height: 16px;
    text-transform: uppercase;
}

.nav__item:first-child {
    margin-right: 23px;
}

.nav__item:nth-child(2) {
    margin-right: 37px;
}

.nav__item:nth-child(3) {
    margin-right: 32px;
}

.nav__link {
    display: block;
    position: relative;
}

.nav__link:after {
    background: none repeat scroll 0 0 transparent;
    top: -42px;
    content: "";
    height: 8px;
    left: 50%;
    position: absolute;
    background: var(--accent-color);
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
}

.nav__link:hover:after {
    width: 100%;
    left: 0;
}

.header__logo {
    margin: 0 488px 0 230px;
    max-width: 80px;
    display: flex;
    /* align-items: center; */
}

.header__logo img {
    width: 100%;
}

.nav__account {}

.nav__account-list {
    display: flex;
    gap: 40px;
}

.nav__account-item {}

.nav__account-link {
    width: 24px;
    display: flex;
    align-items: start;
}

.nav__account-link path {
    width: 100%;
}

/* ----------------------------- */



.header__bottom-inner {
    margin-top: 33.94px;
    background: url(../img/line-bg.png) 50% 0 no-repeat;
    background-size: 105%;
    display: flex;
    padding-top: 84.5px;
    /* padding-right: 112px; */
    gap: 158.93px;
}

.header__bottom-img {
    max-width: 560px;
    max-height: 308.11px;
    margin-left: 99px;
}

.header__bottom-img img {}

.header__bottom-info {
    padding-top: 120px;
    max-width: 492px;
    display: flex;

    flex-direction: column;
}

.header__bottom-title {
    width: 100%;
    font-family: Futura Md BT;
    font-style: italic;
    font-size: 48px;
    font-weight: 600;
    line-height: 48px;
    letter-spacing: 7.1px;
}

.header__bottom-choose {
    /* margin-bottom: 32px; */
    display: flex;
    align-items: anchor-center;
}

.header__bottom-price {
    font-family: "Futura Hv BT";
    font-size: 36px;
    line-height: 36px;
    margin-right: 164px;
}

.header__bottom-size {
    margin-left: 19px;
    font-family: "Futura Hv BT";
    font-size: 36px;
    position: relative;
}

.header__bottom-size::after {
    content: '';
    background: url(../img/icons/more.svg);
    position: absolute;
    top: 43px;
    right: -15.3px;
    width: 13.33px;
    height: 6.67px;
}

.header__bottom-bag {
    margin-left: 57px;
}

.header__bottom-button {
    display: block;
    padding: 18px 48px 16px;
    border: 1px solid var(--general-text);
    border-radius: 36px;
}



/* ======================== */

/* @media (max-height: 300px) {
	.nav__list {
		margin-top: 40px;
	}
} */